<div
		[style.width.px]="circleSize"
		[style.height.px]="circleSize"
		class="gui-spinner">
	<svg
			[style.width.px]="circleSize"
			[style.height.px]="circleSize">
		<circle
				[style.stroke-dashoffset]="circumference"
				[style.stroke-dasharray]="circumference"
				[style.stroke-width]="width"
				[style.stroke]="color"
				[attr.r]="r"
				cx="50%"
				cy="50%"
		/>
		<circle
				[style.stroke-dashoffset]="circumference"
				[style.stroke-dasharray]="croppedCircle"
				[style.stroke-width]="width"
				[style.stroke]="color"
				[attr.r]="r"
				cx="50%"
				cy="50%"
		/>
	</svg>
</div>
