<div class="container">

	<div class="row">
		<gui-button-toggle
			[primary]="true"
			[checked]="showTechnicals"
			(changed)="technicalsChecked()">
			Technicals
		</gui-button-toggle>
	</div>

	<div class="row technicals" [ngClass]="{'technicals-checked': showTechnicals}">

		<div class="col-xl-4 technicals-form">
			<form [formGroup]="techForm" (ngSubmit)="calculateTechnicals(techForm.value)">

				<h4>Input values</h4>

				<div class="technicals-input-area">

					<div>
						High:
						<input gui-input formControlName="High" type="number">

						Low:
						<input gui-input formControlName="Low" type="number">
					</div>

					<div>

						Open:
						<input gui-input formControlName="Open" type="number">

						Close:
						<input gui-input formControlName="Close" type="number">

					</div>

					<div class="technicals-submit">
						<gui-select [options]="['Buy','Sell']"
									[selected]="'Buy'"
									(optionChanged)="getSelectedOption($event)">
						</gui-select>

						<button gui-button type="submit" [disabled]="!techForm.valid">Calculate</button>
					</div>
				</div>

			</form>
		</div>

		<div class="col-xl-4 text-center">
			<h4>Retracement levels</h4>
			<div class="fibonacci-results">
				<gui-chip [ngClass]="{'uptrend': type === 'Buy', 'downtrend': type === 'Sell'}">{{isTrend()}}</gui-chip>
				<gui-chip> 23.6 % = {{fibonacci236 | number:'1.5'}}</gui-chip>
				<gui-chip> 38.2 % = {{fibonacci382 | number:'1.5'}}</gui-chip>
				<gui-chip> 50 % = {{fibonacci50 | number:'1.5'}}</gui-chip>
				<gui-chip> 61.8 % = {{fibonacci618 | number:'1.5'}}</gui-chip>
			</div>
		</div>

		<div class="col-xl-4 text-center">
			<h4>Pivot Points</h4>
			<div class="pivot-points-results">
				<gui-chip>R3 = {{pivotR3| number:'1.5'}}</gui-chip>
				<gui-chip>R2 = {{pivotR2| number:'1.5'}}</gui-chip>
				<gui-chip>R1 = {{pivotR1| number:'1.5'}}</gui-chip>
				<gui-chip [primary]="true">Pivot = {{pivotPP| number:'1.5'}}</gui-chip>
				<gui-chip>S1 = {{pivotS1| number:'1.5'}}</gui-chip>
				<gui-chip>S2 = {{pivotS2| number:'1.5'}}</gui-chip>
				<gui-chip>S3 = {{pivotS3| number:'1.5'}}</gui-chip>
			</div>
		</div>
	</div>

</div>
