<ul>
	<li>
		<gui-chip>High</gui-chip>
		<label>
			<input gui-input
				   [(ngModel)]='high'
				   (keyup)='onChangeHigh()'
				   placeholder="Enter High"
				   type="number">
		</label>
	</li>
</ul>
<ul>
	<li>
		<gui-chip>Low</gui-chip>
		<label>
			<input gui-input
				   [(ngModel)]='low'
				   (keyup)='onChangeLow()'
				   placeholder="Enter Low"
				   type="number">
		</label>
	</li>
</ul>
<ul *ngIf="pivotChecked"
	[ngClass]="{pivotHidden: pivotChecked}">
	<li>
		<gui-chip>Open</gui-chip>
		<label>
			<input gui-input
				   [(ngModel)]='open'
				   (keyup)='onChangeOpen()'
				   placeholder="Enter Open"
				   type="number">
		</label>
	</li>
</ul>
<ul *ngIf="pivotChecked"
	[ngClass]="{pivotHidden: pivotChecked}">
	<li>
		<gui-chip>Close</gui-chip>
		<label>
			<input gui-input
				   [(ngModel)]='close'
				   (keyup)='onChangeClose()'
				   placeholder="Enter Close"
				   type="number">
		</label>
	</li>
</ul>
<ul>
	<gui-select
			*ngIf="fiboChecked"
			(click)='onChangeType()'
			[options]="['Long','Short']"
			[ngClass]="{fiboHidden: fiboChecked}"
			[selected]="selected"
			(optionChanged)="getSelectedOption($event)">
	</gui-select>
</ul>
