<header class="app-header">
	<div>Forex Calculators</div>

		<ul>
			<li>
				<a [routerLink]="'/positions'"
				   routerLinkActive="selected-toolbar-item">
					Positions
					<span class="toolbar-active-indicator"></span>
				</a>
			</li>
			<li>
				<a [routerLink]="'/technicals'"
				   routerLinkActive="selected-toolbar-item">
					Technicals
					<span class="toolbar-active-indicator"></span>
				</a>
			</li>
			<li>
				<a href="https://github.com/kpawelczak/forex-calculators">Github</a>
			</li>
		</ul>

</header>
