@import '../variables.scss';

.positions {
	margin-top: $grid*4;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.2s ease-out;
}

.positions-checked {
	transform: scaleY(1);
}

.positions-form {

	.positions-input-area {
		display: inline-grid;
	}

	.positions-buttons {
		margin-top: $grid*1.5;
	}
}

.positions-table {
	background: $white;
	padding-top: $grid*3;


	table {
		border-collapse: separate;
		border-spacing: 0;

		tr:first-child th:first-child {
			border-top-left-radius: $border-radius;
		}

		tr:first-child th:last-child {
			border-top-right-radius: $border-radius;
		}

		tr:last-child td:nth-child(2) {
			border-bottom-left-radius: $border-radius;
		}

		tr:nth-last-child(2) td:first-child {
			border-bottom-left-radius: $border-radius;
		}

		tr:last-child td:last-child {
			border-bottom-right-radius: $border-radius;
		}

		th, td {
			height: 20px;
			width: 80px;
			padding: $grid;
			text-align: center;
		}

		tr:hover {
			background: lighten($primary-lightest, 20);

			input {
				background: lighten($primary-lightest, 20);
			}

			#alignRight {
				background: $white;
			}
		}

		th {
			background: $primary;
			border: {
				color: $primary;
				style: solid;
				width: 1px;
			}
			color: $white;
			font-weight: bold;
		}

		td {
			border: {
				color: $border-color;
				style: solid;
				width: 0 0 1px 1px;
			}

			&:last-child {
				border-width: 0 1px 1px 1px
			}

			&.size {
				padding: 0;
			}

			input {
				box-sizing: border-box;
				background: $white;
				border: none;
				height: 100%;
				width: 100%;
				font-size: 14px;
				text-align: center;

				&:focus {
					outline: none;
					background: $green-light;
				}
			}
		}

		.td-price, .td-stop-loss, .td-take-profit {
			padding: 0;
		}

		.id {
			width: 15px;
		}

		.size {
			width: 30px;
		}

		.type {
			width: 30px;
		}
	}

	#alignRight {
		border: {
			color: transparent;
			style: solid;
			width: 0 0 1px 1px;
		}
	}
}

.gui-button.delete {
	padding: 0 7px 2px 7px;
	border-radius: 50%;
	vertical-align: middle;
}

.table-hidden {
	&.positions-table {
		display: none;
	}
}
