@import '../variables.scss';
@import '../mixin.scss';

.gui-badge{

    position: relative;
    left: 2px;
    top:-10px;
    margin-right: 3px;

    display: inline-block;

    background: $white;

    border: solid {
        width: 1px;
        color: $gray;
        radius: $grid / 1;
    }    
   
    font: {
        size: 10px;
        weight: 400;
    }

    padding: 0 3px;
    
    &:hover { 
      background:  $gray-lightest;
    }
    
    @include primary();
    @include secondary();
}
