@import '../variables.scss';

.gui-badge{
    position: relative;
    left: 2px;
    top:-10px;

    border: solid;
    border-width: 1px;
    border-color: $gray;
    display: inline-block;
   
    padding: 0 3px;
    height: 11px;
    font-size: 10px;
    line-height: 11px;
    border-radius: 100px;
    background-color: $white;

&:hover { 
    background-color:  $gray-lightest;
}
}