@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

.gui-checkbox-label {
    cursor: pointer;

    &:hover .gui-checkmark {
        background: $gray-light;
    }
}

.gui-checkbox input {
    opacity: 0;
    height: 0;
    width: 0;
}

.gui-checkbox {
    position: relative;
    font-weight: 400;
    font-family: $font;
    font-size: 13.3333px;
    padding-left: 30px;
    margin: 3px 3px 6px 3px;
    @include disableTextSelect();
     
    .gui-checkmark {
        border: solid;
        border-width: 0.5px;
        border-color: $gray;
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
    }
}

input:checked ~ .gui-checkmark {
    background: $gray;
}
  
.gui-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
 
input:checked ~ .gui-checkmark:after {
    display: block;
}
 
.gui-checkmark:after {
    left: 5px;
    top: 0.5px;
    width: 3px;
    height: 9px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
