@import 'util/fabric/ui/variables.scss';

.gui-button-group .gui-button {
    border-radius: 0;
  }
  .gui-button-group .gui-button:not(:last-child) {
    border-right: none;
  }
  .gui-button-group .gui-button:last-child {
    border-radius: 0 $grid/2 $grid/2 0;
  }
  .gui-button-group .gui-button:first-child {
    border-radius: $grid/2 0 0 $grid/2;
  }

  .gui-button-group .gui-button-toggle .gui-button {
    border-radius: 0;
  }
  .gui-button-group .gui-button-toggle:not(:last-child) .gui-button {
    border-right: none;
  }
  .gui-button-group .gui-button-toggle:last-child .gui-button {
    border-radius: 0 $grid/2 $grid/2 0;
  }
  .gui-button-group .gui-button-toggle:first-child .gui-button {
    border-radius: $grid/2 0 0 $grid/2;
  }
