@import 'util/fabric/ui/themes/material/material.variables.scss';
@import 'util/fabric/ui/themes/material/material.mixins.scss';

#{$material-selector} {

  .gui-badge {
    background: $basic-background;
    color: $white;
    font-family: $font-family;
    font-weight: $font-weight;

    @include primary();
    @include secondary();
    @include outline();
  }
}
