@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

.gui-chip {    
    background: $white;
    border: solid;
    border-color: $gray;
    border-width: 1px;
    border-radius: $grid / 0.5;       
    display: inline-block;
    font-weight: 400;
    font-family: $font;
    font-size: 12px;        
    padding: $grid / 1;
  
    &:hover {
         background:  $gray-lightest;
    }

@include primary();
@include secondary();

}
