@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$arrow-color: $black-light;
$border-select-color: $focus;
$border-width: 1px;
$padding: $grid $grid*4 $grid $grid*1.5;
$selected-background: $gray-lightest;

.gui-select {

  .gui-select-container {
    background: $white;
    border: {
      color: $border-color;
      style: solid;
      width: $border-width;
      radius: $border-radius;
    }
    cursor: pointer;
    color: $black;
    display: inline-block;
    font: $font;
    padding: $padding;
    position: relative;

    &:hover {
      border-color: $gray;
    }

    .gui-select-arrow {
      border: 4px solid transparent;
      border-color: $arrow-color transparent transparent transparent;
      position: absolute;
      top: 5px;
      right: 10px;
      margin: 8px;
      width: 0;
      height: 0;
    }

    .gui-options {
      background: inherit;
      border: {
        color: $border-select-color;
        style: solid;
        width: $border-width;
        top: none;
        radius: 0 0 $border-radius $border-radius
      }
      margin: $grid 0 0 0;
      left: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      z-index: 2;
      animation: close 0.1s forwards;

      .gui-option {
        border-top: {
          style: solid;
          width: $border-width;
          color: $gray-lightest;
        }
        padding: $padding;
        list-style-type: none;

        &:hover {
          background: $gainsboro;
        }
      }
    }

    @include disableTextSelect();
  }

  &.gui-options-opened {

    .gui-select-container {
      border: {
        color: $border-select-color;
        radius: $border-radius $border-radius 0 0;
      }
    }

    .gui-select-arrow {
      border: 4px solid transparent;
      border-color: transparent transparent $arrow-color transparent;
      top: 1px;
    }

    .gui-options {
      animation: load 0.2s forwards;
    }
  }

  .gui-selected-option {
    background: $selected-background;
    font-weight: bold;
  }

  .gui-disabled {
    color: $disabled;
    pointer-events: none;

    .gui-select-arrow {
      border-color: $disabled transparent transparent transparent;
    }
  }

  .initAnimationDisabled {

    &.gui-options {
      display: none;
    }
  }

  @keyframes load {
    0% {
      transform: translateY(-50%) scaleY(0);
    }

    100% {
      transform: translateY(0%) scaleY(1);
    }
  }

  @keyframes close {
    0% {
      transform: translateY(0%) scaleY(1);
    }

    100% {
      transform: translateY(-50%) scaleY(0);
    }
  }
}
