@import 'util/fabric/ui/themes/material/material.variables.scss';

#{$material-selector} {

  .gui-progress-bar {
    border: {
      color: $border-color;
    }
    color: $white;
    font-family: $font-family;
  }

  .gui-progress {
    background: $basic-background;

    &.gui-primary {
      .gui-progress {
        background: $primary;
      }

      .gui-progress-bar {
        border: {
          color: $primary;
        }
      }
    }

    &.gui-secondary {
      .gui-progress {
        background: $secondary;
      }

      .gui-progress-bar {
        border: {
          color: $secondary;
        }
      }
    }
  }
}
