@import '../variables.scss';

$chip-width: 200px;
$chip-margin: $grid auto 0 auto;

.technicals {
	margin-top: $grid*4;
}

.technicals-form {

	h4 {
		margin-bottom: $grid*4;
	}

	.technicals-input-area {
		display: flex;
		flex-direction: column;

		.technicals-submit {
			margin-top: $grid*1.5;
		}
	}

	.gui-button {
		margin-left: $grid;
	}
}

.fibonacci-results {
	display: flex;
	flex-direction: column;
	padding: $grid*6 0;

	.gui-chip {
		margin: $chip-margin;
		width: $chip-width;
	}

	.gui-chip:nth-child(1) {
		margin: 0 auto $grid*3 auto;
		color: $white;

		&.uptrend {
			background: $green;
		}

		&.downtrend {
			background: $red;
		}
	}

}

.pivot-points-results {
	display: flex;
	flex-direction: column;
	padding-top: $grid*4;

	.gui-chip {
		margin: $chip-margin;
		width: $chip-width;
	}
}
