<ul>
    <gui-chip>High</gui-chip>
    <input [(ngModel)]='High' placeholder="Enter High" type="number" (keyup)='onChangeHigh(High)'>
</ul>
<ul>
    <gui-chip>Low</gui-chip>
    <input [(ngModel)]='Low' placeholder="Enter Low" type="number" (keyup)='onChangeLow(Low)'>
</ul>
<ul>
    <gui-chip>Open</gui-chip>
    <input [(ngModel)]='Open' placeholder="Enter Open" type="number" (keyup)='onChangeOpen(Open)'>
</ul>
<ul>
    <gui-chip>Close</gui-chip>
    <input [(ngModel)]='Close' placeholder="Enter Close" type="number" (keyup)='onChangeClose(Close)'>
</ul>

<ul>
    <select [(ngModel)]='type' (click)='onChangeType(type)'>
        <option value="Long">Long</option>
        <option value="Short">Short</option>
    </select>
</ul>
