@import '../variables.scss';
@import '../mixins.scss';

.gui-chip {

    background: $white;
    
    display: inline-block;

    border: solid{        
        color: $gray;
        width: 1px;
        radius: $grid / 0.5;
    }
  
    font: {
        size: 12px;
        weight: 400;
    }  
    
    padding: $grid / 1;
  
    &:hover { 
         background:  $gray-lightest;
    }

@include primary();
@include secondary();
}
