@import 'src/app/ui/themes/material/material.variables.scss';
@import 'src/app/ui/themes/material/material.mixins.scss';

$padding-vertical: $grid*2;
$padding-horizontal: $grid*1.25;

#{$material-selector} {

	.gui-button {
		background: $basic-background;
		color: $white;
		font-family: $font-family;
		font-weight: $font-weight;
		padding: $padding-horizontal $padding-vertical $padding-horizontal;

		&:hover {
			background: $basic-hover;
		}

		&:active {
			background: $basic-active;
		}

		&:disabled {
			background: $disabled;
			color: $basic-lightest;
		}

		@include focus();
		@include primary();
		@include secondary();
		@include link();
		@include outline();
	}
}
