@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$margin: $grid / 4;
$padding-vertical: $grid / 2;
$padding-horizontal: $grid * 1.2;

.gui-badge {
  background: $basic-background;
  border-radius: $border-radius;
  color: $black-light;
  display: inline-block;
  font: {
    family: $font-family;
    size: $badge-font-size;
    weight: bold;
  }
  margin: 0 0 0 $margin;
  padding: $padding-vertical $padding-horizontal;
  position: relative;
  transform: translateX(-70%) translateY(-80%);
  z-index: 1;

  @include primary();
  @include secondary();
  @include outline();
}
