@import 'variables.scss';

html {
	//overflow-y: scroll;
}

body {
	//background: $gray-light;
}

.container {
	//background: $white;
	padding-top: $grid*8;
}

app-positions,
app-technicals {

	.gui-input {
		margin: $grid/2 0;
		width: 250px;
	}
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}
