<div class="container app-positions">

	<div class="row">
		<gui-chip [primary]="true">
			Positions
		</gui-chip>
	</div>

	<div class="row positions">

		<div class="col-xl-4 positions-form">
			<form [formGroup]="positionForm" (ngSubmit)="addPosition(positionForm.value)">

				<div class="positions-input-area">
					Price:
					<input gui-input formControlName="price" type="number">

					Take Profit:
					<input gui-input formControlName="takeProfit" type="number">

					Stop Loss:
					<input gui-input formControlName="stopLoss" type="number">

					Size:
					<input gui-input formControlName="size" type="number">

					<div class="positions-buttons">
						<button gui-button [disabled]="!positionForm.valid" type="submit">
							Add
						</button>

						<button gui-button (click)="clear(false)" [disabled]="isTableEmpty()" type="reset">
							Clear the table
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="positions-table col-xl-8">

			<table>

				<tr>
					<th class="id">Id</th>
					<th class="type">Type</th>
					<th class="size">Size</th>
					<th>Price</th>
					<th>S/L</th>
					<th>T/P</th>
					<th>Pips(-)</th>
					<th>Pips(+)</th>
					<th>Loss($)</th>
					<th>Profit($)</th>
					<th>Delete</th>
				</tr>

				<tr *ngFor="let position of positions">
					<td class="id">{{position.id}}</td>
					<td class="type">{{position.type}}</td>
					<td class="size">
						<input
							[(ngModel)]="position.size"
							(keydown.enter)="update($event, position)"
							type="number"
							value="{{position.size}}"></td>
					<td class="td-price">
						<input
							[(ngModel)]="position.price"
							(keydown.enter)="update($event, position)"
							type="number"
							value="{{position.price}}">
					</td>
					<td class="td-stop-loss">
						<input
							[(ngModel)]="position.stopLoss"
							(keydown.enter)="update($event, position)"
							type="number"
							value="{{position.stopLoss}}">
					</td>
					<td class="td-take-profit">
						<input
							(keydown.enter)="update($event, position)"
							[(ngModel)]="position.takeProfit"
							type="number"
							value="{{position.takeProfit}}">
					</td>
					<td>{{-position.loss}}</td>
					<td>{{position.profit}}</td>
					<td>{{-position.moneyLoss | number:'1.2'}}</td>
					<td>{{position.moneyProfit| number:'1.2'}}</td>
					<td>
						<button gui-button
								(click)="delete(position)"
								[primary]="true"
								class="delete">x
						</button>
					</td>
				</tr>

				<tr>
					<td colspan="5" id="alignRight"></td>
					<td>
						Total:
					</td>
					<td>
						{{-totalLoss}}
					</td>
					<td>
						{{totalProfit}}
					</td>
					<td>
						{{-totalMoneyLoss| number:'1.2'}}
					</td>
					<td>
						{{totalMoneyProfit| number:'1.2'}}
					</td>
					<td>
						-
					</td>

				</tr>
			</table>

		</div>
	</div>
</div>
