@import 'util/fabric/ui/themes/material/material.variables.scss';
@import 'util/fabric/ui/themes/material/material.mixins.scss';

$padding-vertical: $grid*2;
$padding-horizontal: $grid*1.25;

#{$material-selector} {

  .gui-chip {
    background: $basic-background;
    color: $white;
    font-family: $font-family;
    font-weight: $font-weight;
    padding: $padding-horizontal $padding-vertical $padding-horizontal;

    @include primary();
    @include secondary();
    @include outline();
  }
}
