@import 'src/app/ui/themes/material/material.variables.scss';

#{$material-selector} {
	.gui-button {
		background: $basic-background;
		color: $white;
	}

	.gui-checked .gui-button {
		background: $basic;
		box-shadow: $box-shadow;
		color: $white;

		&:hover {
			background: $basic-hover;
		}

		&:active {
			background: $basic-active;
		}

		&.gui-outline {
			background: $basic-outline-active;
			box-shadow: 0 0 0 1px $border-color;
			color: $basic;

			&.gui-primary {
				background: $primary-outline-active;
				box-shadow: 0 0 0 1px $primary-border-color;
				color: $primary;
			}

			&.gui-secondary {
				background: $secondary-outline-active;
				box-shadow: 0 0 0 1px $secondary-border-color;
				color: $secondary;
			}
		}

		&.gui-primary {
			background: $primary;
			box-shadow: $box-shadow-primary;
			color: $white;
		}

		&.gui-secondary {
			background: $secondary;
			box-shadow: $box-shadow-secondary;
			color: $white;
		}
	}
}
