@import 'util/fabric/ui/variables.scss';

@mixin gui-spinner() {
  display: inline-block;
  margin: 4px;
  transform: rotate(-90deg);
  animation: gui-rotate-div 2s infinite;
}

@mixin gui-circle() {
  stroke: $gray;
  fill: transparent;
  animation: gui-spinner-shape 2s infinite;
  animation-timing-function: ease-in-out;
}

@mixin gui-animations {
  @keyframes gui-spinner-shape {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes gui-rotate-div {
    to {
      transform: rotate(270deg)
    }
  }
}
