.fibresults {
  position: absolute;
  left: 300px;
  top: 108px;
}

.pivotresults {
  position: absolute;
  left: 500px;
  top: 112px;
}

.Input {
  position: relative;
  top: 10px;
}

.form-checkbox {
  position: relative;
  top: 3px;
  margin: 0;
}
