

.fibo-results {
  position: absolute;
  left: 300px;
  top: 201px;
}

.pivot-results {
  position: absolute;
  left: 500px;
  top: 215px;
}

.form-checkbox {
  position: relative;
  top: 3px;
  margin: 0;
}
