<ul>
	<gui-button-toggle
			(changed)="technicalsChecked($event)"
			(click)="techBtnChecked()"
			[primary]="true">
		Technicals
	</gui-button-toggle>
	<gui-badge>?</gui-badge>
</ul>

<div *ngIf="showTechnicals"
	 [ngClass]="{technicalsHidden: showTechnicals}">
	<ul>
		<gui-chip>
			<gui-checkbox
					(changed)="fiboChecked($event)"
					[checked]="technicalsCheckedFibo"
					style="font-weight: bold">
				Fibonacci
			</gui-checkbox>
		</gui-chip>

		<gui-chip>
			<gui-checkbox
					(changed)="pivotChecked($event)"
					[checked]="technicalsCheckedPivot"
					style="font-weight: bold">
				Pivot Points
			</gui-checkbox>
		</gui-chip>
	</ul>

	<div>
		<technicals
				[fiboChecked]="showFibo"
				[pivotChecked]="showPivot"
				(setHigh)='setHighFromInput($event)'
				(setLow)='setLowFromInput($event)'
				(setType)='setTypeFromInput($event)'
				(setOpen)='setOpenFromInput($event)'
				(setClose)='setCloseFromInput($event)'>
		</technicals>

		<tech-calc
				[high]="high" [low]="low"
				[open]="open" [close]="close"
				[type]="type"
				(calculatorShowResults)="showResultsCalc($event)"
				(calculatorFiboResults)="appCalculatorFiboResults($event)"
				(calculatorPivotResults)="appCalculatorPivotResults($event)">
		</tech-calc>
	</div>

	<section *ngIf="showResults"
			 [ngClass]="{resultsHidden: showResults}">
		<div *ngIf="showFibo"
			 [ngClass]="{fiboHidden: showFibo}"
			 class="fibo-results">
			<ul>
				<gui-chip> 23.6 = {{fiboResults[0]}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 38.2 = {{fiboResults[1]}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 50 = {{fiboResults[2]}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 61.8 = {{fiboResults[3]}}</gui-chip>
			</ul>
		</div>

		<div *ngIf="showPivot"
			 [ngClass]="{pivotsHidden: showPivot}"
			 class="pivot-results">
			<gui-chip>R3 = {{pivotResults[0]}}</gui-chip>
			<br>

			<gui-chip>R2 = {{pivotResults[1]}}</gui-chip>
			<br>

			<gui-chip>R1 = {{pivotResults[2]}}</gui-chip>
			<br>

			<gui-chip [secondary]="true">Pivot = {{pivotResults[3]}}</gui-chip>
			<br>

			<gui-chip>S1 = {{pivotResults[4]}}</gui-chip>
			<br>

			<gui-chip>S2 = {{pivotResults[5]}}</gui-chip>
			<br>

			<gui-chip>S3 = {{pivotResults[6]}}</gui-chip>
			<br>
		</div>
	</section>
	<br>
</div>
<section style="margin-bottom:300px">
	<positions-table></positions-table>
</section>
