<ul>
	<gui-button-toggle
			(changed)="technicalsChecked($event)"
			[primary]="true">
		Technicals
	</gui-button-toggle>
	<gui-badge>?</gui-badge>
</ul>

<div (ngClass)="{technicalsHidden: showTechnicals}" *ngIf="showTechnicals">
	<ul>
		<gui-chip>
			<gui-checkbox (changed)="fiboChecked($event)">
				Fibonacci
			</gui-checkbox>
		</gui-chip>

		<gui-chip>
			<gui-checkbox (changed)="pivotChecked($event)">
				Pivot Points
			</gui-checkbox>
		</gui-chip>
	</ul>

	<div class="Input">

		<technicals (setHigh)='setHighFromInput($event)'
					(setLow)='setLowFromInput($event)'
					(setType)='setTypeFromInput($event)'
					(setOpen)='setOpenFromInput($event)'
					(setClose)='setCloseFromInput($event)'
					[fiboChecked]="showFibo"
					[pivotChecked]="showPivot">
		</technicals>

		<ul>
			<tech-calc (set236)='set236FromCalc($event)'
					   (set382)='set382FromCalc($event)'
					   (set50)='set50FromCalc($event)'
					   (set618)='set618FromCalc($event)'
					   (setR3)='setR3FromCalc($event)'
					   (setR2)='setR2FromCalc($event)'
					   (setR1)='setR1FromCalc($event)'
					   (setPP)='setPPFromCalc($event)'
					   (setS1)='setS1FromCalc($event)'
					   (setS2)='setS2FromCalc($event)'
					   (setS3)='setS3FromCalc($event)'
					   [High]="High" [Low]="Low"
					   [type]="type"
					   [Open]="Open" [Close]="Close"
					   (resultsCalc)="showResultsCalc($event)">
			</tech-calc>
		</ul>
	</div>

	<section *ngIf="showResults"
			 (ngClass)="{resultsHidden: showResults}">

		<div *ngIf="showFibo"
			 (ngClass)="{fiboHidden: showFibo}"
			 class="fibresults">
			<ul>
				<gui-chip> 23.6 {{result_236}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 38.2 {{result_382}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 50 {{result_50}}</gui-chip>
			</ul>
			<ul>
				<gui-chip> 61.8 {{result_618}}</gui-chip>
			</ul>
		</div>

		<div *ngIf="showPivot"
			 (ngClass)="{pivotsHidden: showPivot}"
			 class="pivotresults">
			<gui-chip>R3 = {{result_R3}}</gui-chip>
			<br>

			<gui-chip>R2 = {{result_R2}}</gui-chip>
			<br>

			<gui-chip>R1 = {{result_R1}}</gui-chip>
			<br>

			<gui-chip [secondary]="true">Pivot = {{result_PP}}</gui-chip>
			<br>

			<gui-chip>S1 = {{result_S1}}</gui-chip>
			<br>

			<gui-chip>S2 = {{result_S2}}</gui-chip>
			<br>

			<gui-chip>S3 = {{result_S3}}</gui-chip>
			<br>
		</div>
	</section>
	<br>
</div>

<div>
	<positions-table></positions-table>
</div>
