@mixin li() {
  li {
    list-style: none;
    margin: $grid*2 0 $grid*2 0;
  }
}

@mixin inputRemoveArrows() {
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
