<div 
    [style.width.px]="circleWidth"
    [style.height.px]="circleHeight"
    class="gui-spinner">
    <svg 
        [style.width.px]="circleWidth"
        [style.height.px]="circleHeight">
            <circle  
                [style.stroke-dashoffset]="circle"
                [style.stroke-dasharray]="circle"
                [style.stroke-width]="width"
                [style.stroke]="color"
                [attr.r]="r"
                cx="50%"
                cy="50%"
            />
            <circle
                [style.stroke-dashoffset]="circle"
                [style.stroke-dasharray]="cropedCircle"
                [style.stroke-width]="width"
                [style.stroke]="color"
                [attr.r]="r"   
                cx="50%"
                cy="50%"
            />
    </svg>
</div>
