@import 'variables.scss';

@mixin primary(){
    
&.gui-primary{
        background: $blue-light;
        
    &:hover { 
        background:  $blue-lightest;
        }  
    }
}
@mixin secondary(){

&.gui-secondary{
        background: $green-light;
    
    &:hover { 
        background:  $green-lightest;
        }
    }
}
