/**
 * Colors
 */
$white: #fefdfc;
$black: #333;
$gray: #999;
$gray-light: #ccc;
$gray-lightest: #dfdfdf;
$blue: #4286f4;
$blue-light: #6bcbff;
$blue-lightest: #a8e0ff;
$green: #42f49e;
$green-light: #88fcc4;
$green-lightest: #befcde;

$grid: 8px;
