<div class="positions-table-content">
	<section>
		<ul>
			<gui-chip [primary]="true">Positons</gui-chip>
			<li>
				<gui-chip>Price</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="price"
						   placeholder="Enter Price"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Take Profit</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="takeProfit"
						   placeholder="Enter Take Profit"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Stop Loss</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="stopLoss"
						   placeholder="Enter Stop Loss"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Size</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="size"
						   placeholder="Enter Size"
						   type="number">
				</label>
			</li>
			<li>
				<button gui-button
						(click)="calculate(price, stopLoss, takeProfit);
								addPositionToTable(id, type, size, price, loss, profit, stopLoss, takeProfit)">
					Add
				</button>
				<button gui-button
						(click)="clear()">
					clear
				</button>
			</li>
		</ul>
	</section>

	<section [ngClass]="{'tableHidden': isTableHidden}"
			 class="positions-table">
		<table>
			<tr>
				<th class="id">Id</th>
				<th class="type">Type</th>
				<th class="size">Size</th>
				<th>Price</th>
				<th>S / L</th>
				<th>T / P</th>
				<th>Pips (-)</th>
				<th>Pips (+)</th>
				<th>Delete</th>
			</tr>
			<tr *ngFor="let position of positions">
				<td class="id">{{position.id}}</td>
				<td class="type">{{position.type}}</td>
				<td class="size">{{position.size}}</td>
				<td (keydown.enter)="update($event, position)"
					(input)="position.price=$event.target.innerText"
					contenteditable="true">
					{{position.price}}
				</td>
				<td (keydown.enter)="update($event, position)"
					(input)="position.stopLoss=$event.target.innerText"
					contenteditable="true">
					{{position.stopLoss}}
				</td>
				<td (keydown.enter)="update($event, position)"
					(input)="position.takeProfit=$event.target.innerText"
					contenteditable="true">
					{{position.takeProfit}}
				</td>
				<td>{{position.loss}}</td>
				<td>{{position.profit}}</td>
				<td>
					<button gui-button
							(click)="delete(position)"
							[primary]="true"
							class="delete">x
					</button>
				</td>
			</tr>
		</table>
	</section>
</div>
