@import 'util/fabric/ui/variables.scss';
@import '../mixins';

@include li();
@include inputRemoveArrows();

.positions-table-content {
  display: inline-flex;
}

.positions-table {
  font-family: $font-family;
  font-size: $font-size;
  position: relative;
  top: 92px;
  left: 10%;

  table {
    border-collapse: separate;
    border-spacing: 0;

    tr:first-child th:first-child {
      border-top-left-radius: $border-radius;
    }

    tr:first-child th:last-child {
      border-top-right-radius: $border-radius;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: $border-radius;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: $border-radius;
    }

    th, td {
      height: 20px;
      width: 80px;
      padding: $grid;
      text-align: center;
    }

    tr:hover {
      background: lighten($primary-lightest, 20);

      input {
        background: lighten($primary-lightest, 20);
      }
    }

    th {
      background: $primary;
      border: {
        color: $primary;
        style: solid;
        width: 1px;
      }
      color: $white;
      font-weight: bold;
    }

    td {
      border: {
        color: $border-color;
        style: solid;
        width: 0 0 1px 1px;
      }

      &:last-child {
        border-width: 0 1px 1px 1px
      }

      &.size {
        padding: 0;
      }

      input {
        border: none;
        height: 100%;
        width: 100%;
        font-size: 21px;
        text-align: center;

        &:focus {
          outline: none;
          background: $secondary-light;
        }
      }
    }

    .td-price, .td-stop-loss, .td-take-profit {
      padding: 0;
    }

    .id {
      width: 15px;
    }

    .size {
      width: 30px;
    }

    .type {
      width: 30px;
    }
  }
}

.delete {
  padding: 0 8px 3px 8px;
  height: $font-size+6px;
  border-radius: 50%;
  vertical-align: middle;
}

.tableHidden {
  &.positions-table {
    display: none;
  }
}

.badge-tooltip:hover {
  .tooltip-text {
    display: inline-block;
  }
}

.tooltip-text {
  position: absolute;
  display: none;
  background-color: $blue-dark;
  border-radius: $border-radius;
  color: $white;
  font-size: $badge-font-size;
  padding: $grid/4;
  text-align: center;
  width: 100px;
  top: 0;
  left: 101%;
  z-index: 1;
}


