<div class="positions-table-content">
	<section>
		<ul>
			<gui-chip [primary]="true">Positons</gui-chip>
			<li>
				<gui-chip>Price</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="price"
						   placeholder="Enter Price"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Take Profit</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="takeProfit"
						   placeholder="Enter Take Profit"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Stop Loss</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="stopLoss"
						   placeholder="Enter Stop Loss"
						   type="number">
				</label>
			</li>
			<li>
				<gui-chip>Size</gui-chip>
				<label>
					<input gui-input
						   [(ngModel)]="size"
						   placeholder="Enter Size"
						   type="number">
				</label>
			</li>
			<li>
				<button gui-button
						(click)="positionCalculate(); addPositionToTable(id, type, size, price, loss, profit)">
					Add
				</button>
				<button gui-button
						(click)="clear()">
					clear
				</button>
			</li>
		</ul>
	</section>

	<section [ngClass]="{'tableHidden': isTableHidden}"
			 class="positions-table">
		<table>
			<tr>
				<th class="id">Id</th>
				<th class="type">Type</th>
				<th class="size">Size</th>
				<th class="price">Price</th>
				<th class="loss">Pips (-)</th>
				<th class="profit">Pips (+)</th>
				<th>Delete</th>
			</tr>
			<tr *ngFor="let position of positions">
				<td class="id">{{position.id}}</td>
				<td class="type">{{position.type}}</td>
				<td class="size">{{position.size}}</td>
				<td class="price">{{position.price}}</td>
				<td class="loss">{{position.loss}}</td>
				<td class="profit">{{position.profit}}</td>
				<td>
					<button gui-button
							(click)="delete(position)"
							[primary]="true"
							class="delete">x
					</button>
				</td>
			</tr>
		</table>
	</section>
</div>
