@import 'src/app/ui/variables.scss';
@import 'src/app/ui/mixins.scss';

$padding-vertical: $grid*1.5;
$padding-horizontal: $grid;

.gui-input {
	background: $white;
	border: {
		color: $border-color;
		style: solid;
		width: 1px;
		radius: $border-radius;
	}
	color: $black;
	font: $font;
	margin: 0;
	max-width: 100%;
	outline: 0;
	padding: $padding-horizontal $padding-vertical $padding-horizontal;
	text-align: left;

	&:hover {
		border-color: $gray;
	}

	&:focus {
		border-color: $focus;
	}

	&:disabled {
		color: $disabled;
		cursor: default;
		pointer-events: none;

		&::placeholder {
			color: $disabled;
		}
	}
}
