<div class="container">
	<div class="timezone col-xl-12">
		<ul>
			<li>
				<div class="london-market-time market-session">London</div>
			</li>
			<li>
				<div class="ny-market-time market-session">New York</div>
			</li>
			<li>
				<div class="sydney-market-time-end market-session"></div>
				<div class="sydney-market-time market-session">Sydney</div>
			</li>
			<li>
				<div class="tokyo-market-time-end market-session"></div>
				<div class="tokyo-market-time market-session">Tokyo</div>
			</li>
			<li class="time-axis">
				<div>
					<div>8:00</div>
					<span></span>
				</div>
				<div>
					<div>9:00</div>
					<span></span>
				</div>
				<div>
					<div>10:00</div>
					<span></span>
				</div>
				<div>
					<div>14:00</div>
					<span></span>
				</div>
				<div>
					<div>18:00</div>
					<span></span>
				</div>
				<div>
					<div>23:00</div>
					<span></span>
				</div>
				<div>
					<div>1:00</div>
					<span></span>
				</div>
			</li>
			<li>
				<div [style.margin-left.%]="timer" class="time-indicator">
					<div>{{clock | date:'H:mm'}}</div>
					<span></span>
				</div>
			</li>
		</ul>
	</div>
</div>
