@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

.gui-button {
    -webkit-writing-mode: horizontal-tb !important;
    align-items: flex-start;
    box-sizing: border-box;
    border-image: initial;
    border-width: 2px;
    border-style: outset;
    background: $white;
	border: {
		color: $gray-light;
		radius: $grid / 2;
	}
    color: $black;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-family: $font;
    font-size: 13.3333px;    
    outline: none;
	padding: $grid / 2;
    transition: background 0.2s;
    text-align: center;
    text-rendering: auto;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    margin: 0em;
    word-spacing: normal;

	&:hover {
		background: lighten($gray-light, 10);
	}

	&:active {
        border-style: inset;
    }

	&:disabled {

		border: {
			color: $gray-lightest;
		}
		color: $gray-light;
		cursor: default;

		&:hover {
			background: $white;
		}
    }

@include primary();
@include secondary();
@include disableTextSelect();
}
