@import 'variables.scss';

@mixin primary() {    
    &.gui-primary {
        background: $blue-light;
        
        &:hover { 
        background:  $blue-lightest;
        }  
    }
}
@mixin secondary() {
    &.gui-secondary {
        background: $green-light;
    
    &:hover { 
        background:  $green-lightest;
        }
    }
}
@mixin disableTextSelect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin position() {
    border: solid;
    border-width: 1px;
    border-color: $gray;
    display: inline-block;
    font-family: $font;
    font-weight: 100;
    font-size: 14px;
    height: 20px;
    width: 60px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}