@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

.gui-progress-bar {
  border: {
    color: $border-color;
    style: solid;
    width: 1px;
  }
  display: block;
  font-family: $font-family;
  height: 18px;
  margin-bottom: 10px;
  text-align: center;
  @include disableTextSelect();

  .gui-progress {
    background: $basic;
    border-bottom: inherit;
    height: inherit;
    width: 0;

    .gui-primary &.gui-progress {
      background: $primary;
    }

    .gui-secondary &.gui-progress {
      background: $secondary;
    }
  }

  .gui-progress-text {
    position: relative;
  }
}
