@import '../ui/variables.scss';

*:focus {
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance:none;
}
input[type=number] {
    -moz-appearance:textfield;
}

input {
    position: relative;
    left: 10px;


    border: solid;
    border-width: 1px;
    border-color: $gray;
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 25px;
    background-color: $white;  
}

select {

    border: solid;
    border-width: 1px;
    border-color: $gray;
    border-radius: 25px;

    display: inline-block;

    padding: 0 5px;
    
    font-size: 12px;
        
    background-color: $white; 

}
