<h2>Fib-Input HTML</h2>

<ul>
    <label> High </label>
    <input [(ngModel)]='ivalue.High' type="number" placeholder="Enter High ">
</ul>
<ul>
    <label> Low </label>
    <input [(ngModel)]='ivalue.Low' type="number" placeholder="Enter Low ">
</ul>

<ul>
    <select [(ngModel)]='ivalue.type'>
        <option value="Long">Long</option>
        <option value="Short">Short</option>
    </select>
    <fib-calc></fib-calc>
</ul>

<div>
    <ul> 23.6 = {{ivalue.result_236}}</ul>
    <ul> 38.2 = {{ivalue.result_382}}</ul>
    <ul> 50 = {{ivalue.result_50}}</ul>
    <ul> 61.8 = {{ivalue.result_618}}</ul>
</div>