@import 'util/fabric/ui/themes/material/material.variables.scss';

#{$material-selector} {

  .gui-progress-spinner {
    circle {
      stroke: $basic;
    }
  }

  .gui-primary .gui-progress-spinner {
    circle {
      stroke: $primary;
    }
  }

  .gui-secondary .gui-progress-spinner {
    circle {
      stroke: $secondary;
    }
  }
}
