@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$border-radius: $grid/2;

.gui-button-group {

  .gui-button {
    border-radius: 0;

    &:not(:last-child) {
      border-right: none;
      margin: 0;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  .gui-button-toggle {

    .gui-button {
      border-radius: 0;
    }

    &:not(:last-child) .gui-button {
      border-right: none;
      margin: 0;
    }

    &:last-child .gui-button {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:first-child .gui-button {
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  @include disableTextSelect
}
