<div #container
	 (click)="tryToOpen($event)"
	 (document:click)="clickOutside($event)"
	 [style.width.px]="width"
	 [ngClass]="{'gui-disabled': disabled}"
	 class="gui-select-container">

	<div class="gui-select-value">
		{{selectedOption}}
	</div>

	<span class="gui-select-arrow"></span>

	<div #optionlist
		 [ngClass]="{initAnimationDisabled: initAnimationDisabled}"
		 class="gui-options">

		<div *ngFor="let option of options; let optionIndex=index"
			 (click)="onSelect(option, optionIndex)"
			 [style.width.px]="width"
			 [class.gui-selected-option]="isOptionSelected(option)"
			 [attr.data-option-index]="optionIndex"
			 class="gui-option">
			{{option}}
		</div>
	</div>
</div>
