@import 'util/fabric/ui/themes/dark/dark.variables.scss';

#{$dark-selector} {

  .gui-button {
    background: $button-background;
    border: {
      color: $border-color
    }
    color: $white;
  }
}
