@import '../variables.scss';
@import '../mixin.scss';

button.gui-button {

    outline: none;

	background: $white;

	border: {
		color: $gray-light;
		radius: $grid / 2;
	}
	color: $black;
	cursor: pointer;

	font: {
		size: 12px;
		weight: 400;
	}

	padding: $grid / 2;

	transition: background 0.2s;

	&:hover {
		background: lighten($gray-light, 10);
	}

	&:active {}

	&:disabled {

		border: {
			color: $gray-lightest;
		}
		color: $gray-light;
		cursor: default;

		&:hover {
			background: $white;
		}
	}


@include primary();
@include secondary();

}
