@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$border-width: 1px;
$padding-left: $grid * 4;
$radio-checkmark-size: $grid * 2;
$line-height: $radio-checkmark-size + $border-width * 2;

.gui-radio-button {
  display: inline-block;
  font: $font;
  line-height: $line-height;
  padding-left: $padding-left;
  position: relative;
  @include disableTextSelect();

  label {
    cursor: pointer;

    &:hover .gui-radio-checkmark {
      border-color: $gray;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .gui-radio-checkmark {
    border: {
      color: $border-color;
      radius: 50%;
      style: solid;
      width: $border-width;
    }
    position: absolute;
    left: 0;
    height: $radio-checkmark-size;
    width: $radio-checkmark-size;
  }

  input:checked + .gui-radio-checkmark {
    border-color: $gray;
  }

  input:focus + .gui-radio-checkmark {
    border-color: $blue-lightest;
  }

  &.gui-disabled.gui-radio-button {
    color: $disabled;
    pointer-events: none;
  }

  .gui-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked + .gui-radio-checkmark:after {
    display: block;
  }

  .gui-radio-checkmark:after {
    background: $black;
    border-radius: 50%;
    width: $radio-checkmark-size;
    height: $radio-checkmark-size;
    transform: scale(0.5);
  }
}
