<div class="gui-card-body"
	 [ngClass]="{'gui-content-block': isOnlyContentBlockEnabled()}">

	<div [ngClass]="{'gui-card-title': isTitleEnabled()}">
		{{title}}
	</div>

	<img [ngClass]="{'gui-card-img': isImgEnabled()}"
		 src="{{image}}"/>

	<div [ngClass]="{'gui-card-content-block': isContentBlockEnabled()}">
		<div
			*ngFor="let block of contentBlock"
			[ngClass]="{'gui-card-content-block-item': isContentBlockEnabled()}">
			{{block}}
		</div>
	</div>

	<div class="gui-content">
		<ng-content></ng-content>
	</div>
</div>
