@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$margin-bottom: $grid;
$padding: $grid*2.5;
$padding-card-list: $grid*1.5 $grid*2.5;
$body-width: 240px;

.gui-card {

	.gui-card-img {
		margin: 0 0 $margin-bottom 0;
		width: $body-width - $padding*2;
		height: auto;
		padding: 0 $padding;
	}

	.gui-card-body {
		background: $white;
		border: {
			color: $border-color;
			style: solid;
			width: 1px;
			radius: $border-radius;
		}
		width: $body-width;
		margin: 0;
		padding: $padding 0;
		font: $font;

		.gui-card-title {
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 $margin-bottom 0;
			padding: 0 $padding;
		}

		.gui-card-content-block {
			margin: 0 0 $margin-bottom 0;

			.gui-card-content-block-item {
				border-top: {
					color: $border-color;
					style: solid;
					width: 1px;
				}
				padding: $padding-card-list;
			}

			.gui-card-content-block-item:last-child {
				border-bottom: {
					color: $border-color;
					style: solid;
					width: 1px;
				}
			}
		}

		.gui-content {
			padding: 0 $padding 0 $padding;
		}
	}
}

.gui-content-block {

	&.gui-card-body {
		padding: 0;
		border: none;
	}

	.gui-card-content-block {
		border: {
			color: $border-color;
			style: solid;
			width: 0 1px 0 1px;
		}
	}
}
