@import 'util/fabric/ui/variables.scss';

.gui-checked .gui-button {
  background: $basic;
  color: $black;

  &:hover {
    background: $basic-hover;
  }

  &:active {
    background: $basic-active;
  }

  &.gui-outline {
    background: transparent;
    box-shadow: 0 0 0 2px $border-color;

    &.gui-primary {
      background: transparent;
      box-shadow: 0 0 0 2px $primary-border-color;
      color: $primary;

      &:hover {
        color: $white;
      }
    }

    &.gui-secondary {
      background: transparent;
      box-shadow: 0 0 0 2px $secondary-border-color;
      color: $secondary;

      &:hover {
        color: $white;
      }
    }
  }

  &.gui-primary {
    background: $primary-active;
    color: $white;
  }

  &.gui-secondary {
    background: $secondary-active;
    color: $white;
  }
}

.gui-disabled {
  pointer-events: none;
}
